/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}


/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
