{% extends "base.html" %}

{% block title %}{{problem.name}}{% endblock %}
{% block header_title %}
  <a href="{{problem.url}}">{{problem.name}}</a>
{% endblock %}

{% block content %}
 <h2>{{problem.title}}</h2>
 {% if problem.status_code %}
 <p><strong>Http Response Status Code:</strong> {{problem.status_code}}</p> 
 {% endif %}
 {% if problem.detail %}
 <p><pre>{{problem.detail}}</pre></p>
 {% endif %}
 <hr />
 <p><pre>{{problem.description}}</pre></p>
{% endblock %}
